
{%include "all-gallery/search.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galllery</title>
</head>
<body style="background-color: darkgrey; text-align: center;">
   {% for photo in photos%}
   <p>{{photo.title}}</p>
   <p>{{photo.category}}</p>
   <p>{{photo.pub_date}}</p>
   <img src="{{photo.image.url}}" height="80 vh">
   <p>{{photo.post}}</p>

   {% empty %}
   <div>
       <p>no items to display</p>
   </div>
   {% endfor %}
</body>
</html>