{%include "all-gallery/base.html"%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galllery</title>
</head>

<body style="background-color: darkgrey; text-align: center;">
    {% for photos in photo%}
    <a style="text-decoration: none;" href="{% url 'view.details' %}" class="btn btn-outline-light btn-sm m-1" >
        <img class="image-thumbail" src="{{photos.image.url}}" width="235px" height="170px"
            alt="Card image cap"></a>
    <!-- <img src="{{photo.image.url}}" style="height:358px; margin: 0vh; background-color: darkkhaki;"> -->
    <p>{{photos.title}}</p>

    {% empty %}
    <div>
        <p>no items to display</p>
    </div>
    {% endfor %}
</body>

</html>
